:root {
	--accent-clr: rgb(255, 147, 7);
}

a {
	text-decoration: none;
}

.container-fluid {
	padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
	max-height: 90vh;
}

#mainSlider .carousel-caption {
	top: 30%;
}

#mainSlider .carousel-caption h2 {
	font-size: clamp(1.5rem, 8vw, 5rem);
	text-shadow: 0 0 4px #111;
}

#mainSlider .carousel-caption h3 {
	text-shadow: 0 0 4px #111;
	font-size: clamp(1.2rem, 4vw, 2rem);
	margin-bottom: 2rem;
}

#mainSlider .carousel-caption p {
	text-shadow: 1px 1px 2px #111;
	font-size: clamp(1rem, 3vw, 1.4rem);
	font-weight: 600;
	margin-bottom: 4vh;
}

.main-btn {
	color: var(--accent-clr);
	text-transform: uppercase;
	font-weight: 600;
	width: 200px;
	height: 60px;
	padding: 8px 16px;
	border-radius: 4rem;
	border: 2px solid var(--accent-clr);
	transition: .3s;
	background-color: #111;
}

.main-btn:hover {
	background-color: var(--accent-clr);
	text-decoration: none;
	color: white;
}

.card-group {
	margin: 2rem auto;
}

footer {
	background-color: black;
	color: white;
	text-align: center;
}